In [47]:
if 5 % 2 != 0 :
  Name = "S"
if 2 ** 2 == 2 * 2 :
  Name = Name[0:len(Name)] + 'a'
if type(Name) == str :
  Name = Name[0:len(Name)] + 'l'
if bool(type(Name) != type(4)):
  Name = Name[0:len(Name)] + 'h'
if not bool(type(Name) == type(4)):
  Name = Name[0:len(Name)-1] + 'a' + Name[-1]
if int(7.5) != 7.5:
  Name = Name[0:len(Name)] + ' '
if float(7.5) == 7.5:
  Name = Name[0:len(Name)] + 'B'
if bool(type(Name) != type(4)) or not True:
  Name = Name[0:len(Name)] + 'a'
if bool(type(Name) != type(4)) and True:
  Name = Name[0:len(Name)] + 'i'
if int(7.5) >= 7:
  Name = Name[0:len(Name)] + 'r'
if 7 & 2 == 2:
  Name = Name[0:len(Name)] + 'o'
if bool(7) or not True:
  Name = Name[0:len(Name)] + 'u'
if not (bool(0) and True):
  Name = Name[0:len(Name)] + 't'
if '5'+'5' != 10:
  Name = Name[0:len(Name)] + 'i'

print(f"My Name is {Name}")

My Name is Salah Bairouti

## **1- Write a Python program to find the area of a triangle**

In [ ]:
base = int(input("Enter the base: "))
hieght = int(input("Enter the hieght: "))
area = 0.5*base*hieght
print(f"this area: {area}")

Enter the base: 5
Enter the hieght: 3
this area: 7.5

# **2- Write a Python program to swap two variables.**

In [ ]:
A = 75
B = 57
A += B
B = A - B
A -= B
print(A)
print(B)

57
75

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [ ]:
distance = float(input("Enter The distance in Kilometers: "))
distance /= 1.60934
print(f"This the distance in mile: {distance}")

Enter The distance: 286
This the distance mile: 177.71260268184474