**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string = input("Enter any String: ")
print(f"length of a String: {len(string)}")

Enter any String: Salah Bairouti
length of a String: 14

In [ ]:
string = input("Enter any String: ")
length = 0
for i in string:
  length += 1
print(length)

Enter any String: Salah Bairouti
14

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
def string_made(string):
  if len(string) < 2 :
    return ""
  Result = string[0:2] + string[-2:]
  return Result
print(string_made(string = input("Enter any String: ")))
print(string_made(string = input("Enter any String: ")))
print(string_made(string = input("Enter any String: ")))

Enter any String: w3resource
w3ce
Enter any String: w3
w3w3
Enter any String: w

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def string_add(string):
  if len(string) > 2 :
    if string[-3:] == 'ing':
      Result = string[0:] + "ly"
      return Result
    else:
      Result = string[0:] + "ing"
      return Result
print(string_add(string = input("Enter any String: ")))
print(string_add(string = input("Enter any String: ")))
print(string_add(string = input("Enter any String: ")))

Enter any String: abc
abcing
Enter any String: ing
ingly
Enter any String: abcing
abcingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def length_word(words) :
  longest = 0
  LongestWord = ""
  for i in words :
    if len(i) > longest:
      LongestWord = i
      longest = len(i)
  return LongestWord ,longest
LongestWord ,longest = length_word(words = input("Enter a string of words separated by a space: ").split())
print(f"This is the longest ({LongestWord}) word with '{longest}' letters")

Enter a string of words separated by a space: Python Exercises Practice Code
This is the longest (Exercises) word with '9' letters

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
string = "abca"
if len(string) >= 2 and string[0] == string[-1]:
  string = 'e' + string[1:-1] + 'e'
print(string)

ebce

In [ ]:
def Change_similar_first_last_letters(string):
  if len(string) < 2 and string[0] != string[-1]:
    return string
  return 'e' + string[1:-1] + 'e'
Result = Change_similar_first_last_letters("abca")
print(Result)

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string = input("Sample String: ")
print(f"Expected Result: {string[::2]}")

Sample String: abca
Expected Result: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
def count_word(words):
  count_word = {}
  for i in words:
    if i in count_word:
      count_word[i] += 1
    else :
      count_word[i] = 1
  for i , count in count_word.items():
    print(f"{i}: {count}")
count_word(words = input("Enter a string of words separated by a space: ").lower().split())

Enter a string of words separated by a space: amr and ahmed are frindes but amr is the tallest
amr: 2
and: 1
ahmed: 1
are: 1
frindes: 1
but: 1
is: 1
the: 1
tallest: 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
words = input("Enter any string: ")
upper_string , lower_string = words.upper() , words.lower()
print(f"Uppercase: {upper_string}\nLowercase: {lower_string}")

Enter any string: Hello World
Uppercase: HELLO WORLD
Lowercase: hello world

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_string(string):
  if len(string) % 4 == 0:
    return string[::-1]
  else:
    return string
print(reverse_string(input("Enter any String: ")))
print(reverse_string(input("Enter any String: ")))

Enter any String: abcd
dcba
Enter any String: abcdefg
abcdefg

**10- Write a Python program to remove a newline in Python

In [ ]:
def remove_newline(string):
  string = string.replace("\n" , "")
  return string
string = "line1\nline2\nline3"
print(string)
print(remove_newline(string))

line1
line2
line3
line1line2line3

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
def Check_WhetherStringStarts(String , Check):
  if len(Check) > len(String):
    return False
  Check = Check.lower()
  String = String.lower()
  return String[0:len(Check)] == Check
Check = "Sa"
String = input("Type any text to check if it starts with 'Sa' or not: ")
Result = Check_WhetherStringStarts(String, Check)
if Result: print(f"The string '{String}' already starts with the letters '{Check}'.")
String = input("Type any text to check if it starts with 'Sa' or not: ")
Result = Check_WhetherStringStarts(String, Check)
if Result: print(f"The string '{String}' already starts with the letters '{Check}'.")
String = input("Type any text to check if it starts with 'Sa' or not: ")
Result = Check_WhetherStringStarts(String, Check)
if Result: print(f"The string '{String}' already starts with the letters '{Check}'.")
else: print(f"The string '{String}' Not starts with the letters '{Check}'.")

Type any text to check if it starts with 'Sa' or not: Salah
The string 'Salah' already starts with the letters 'Sa'.
Type any text to check if it starts with 'Sa' or not: samar
The string 'samar' already starts with the letters 'Sa'.
Type any text to check if it starts with 'Sa' or not: hassan
The string 'hassan' Not starts with the letters 'Sa'.

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def add_prefix_newline(string):
  string = "- " + string[0:]
  string = string.replace("\n" , "\n- ")
  return string
string = "line1\nline2\nline3"
print(string)
print(add_prefix_newline(string))

line1
line2
line3
- line1
- line2
- line3

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
def Print_numbers_to_2_decimal(Number):
  for N in Number:
    print(f"{N:.2f}")
Numbers = [5.5552,4.0,7.8524]
Print_numbers_to_2_decimal(Numbers)

5.56
4.00
7.85

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
def Print_numbers_to_2_decimal_sign(Number):
  for N in Number:
    print(f"{N:+.2f}")
Numbers = [+5.5552,+4.0,-7.8524]
Print_numbers_to_2_decimal_sign(Numbers)

+5.56
+4.00
-7.85

**15-Write a Python program to display a number with a comma separator

In [ ]:
def Print_numbers_to_2_decimal(Number):
  for N in Number:
    print(f"{N:,}")
Numbers = [+5822545.5552,+445485.0,-7486157.8524]
Print_numbers_to_2_decimal(Numbers)

5,822,545.5552
445,485.0
-7,486,157.8524

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
String = input("Enter any String: ")
print(String[::-1])

Enter any String: Salah Bairouti
ituoriaB halaS

In [ ]:
String = input("Enter any String: ")
print(''.join(reversed(String)))

Enter any String: Salah Bairouti
ituoriaB halaS

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def CountRepeatedCharacters(String):
  String = String.lower()
  CountChar = {}
  for i in String:
    if i in CountChar:
      CountChar[i] += 1
    else:
      CountChar[i] = 1

  for i , count in CountChar.items():
    if count > 1 :
      print(f"'{i}' : '{count}'")
CountRepeatedCharacters(input("Enter a string: "))

Enter a string: Salah Bairouti
'a' : '3'
'i' : '2'

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def FirstRepeatedCharacters(String):
  String = String.lower()
  CountChar = {}
  for i in String:
    if i in CountChar:
      CountChar[i] += 1
    else:
      CountChar[i] = 1

  for i in String:
    if CountChar[i] == 1 :
      print(f"The first non-repeating character is : '{i}'")
      return
  print("No non-repeating character found.")

FirstRepeatedCharacters(input("Enter a string: "))

Enter a string: Hello how are you
The first non-repeating character is : 'w'

**19-Write a Python program to remove spaces from a given string

In [ ]:
String = input("Enter any String: ")
print(String.replace(" ",""))

Enter any String: Salah Bairouti
SalahBairouti

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def count_substrings(String):
  String = String.replace(" ","")
  Num = len(String)
  return Num * (Num + 1) // 2

Result = count_substrings(input("Enter any String: "))
print(f"This '{Result}' count the number of non-empty substrings of a given string")

Enter any String: Salah Bairouti
This '91' count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [ ]:
def swap_first_last(s):
  if len(s) > 1:
    s[0], s[-1] = s[-1] , s[0]
  return s
Result = swap_first_last(list(map(int, input("Enter numbers separated by spaces: ").split())))
print(f"This '{Result}' list after switching between the first and last item in the list.")

Enter numbers separated by spaces: 5 8 7 4
This '[4, 8, 7, 5]' list after switching between the first and last item in the list.

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
def swap_pos(Lst, pos1, pos2):
  pos1 -= 1
  pos2 -= 1
  Lst[pos1],Lst[pos2] = Lst[pos2],Lst[pos1]
  return Lst
List = [23, 65, 19, 90]
print(f"input List: {List}")
pos1 = int(input(""))
pos2 = int(input(""))
Result = swap_pos(List , pos1, pos2)
print("List after swapping:", Result)

input List: [23, 65, 19, 90]
2
4
List after swapping: [23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [9]:
my_list = [1, 2, 3, 4]
length1 = len(my_list)
print(f"1- The first  method, {length1}")
#####################
length2 = my_list.__len__()
print(f"2- The second method, {length2}")
#####################
length3 = 0
for _ in my_list:
    length3 += 1
print(f"3- The third  method, {length3}")
#####################
length4 = sum(1 for _ in my_list)
print(f"4- The Fourth method, {length4}")

1- The first  method, 4
2- The second method, 4
3- The third  method, 4
4- The Fourth method, 4

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
numbers = [ 52 , 87 , 54, 57, 90, 358 , 40 ,75]
print(f"The Maximum number of list: {max(numbers)}")

The Maximum number of list: 358

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
numbers = [ 52 , 87 , 54, 57, 90, 358 , 40 ,75]
print(f"The Maximum number of list: {min(numbers)}")

The Maximum number of list: 40

**26-search for if an elem is existing in list

In [ ]:
numbers = [ 52 , 87 , 54, 57, 90, 358 , 40 ,75]
Found = int(input())
if Found in numbers:
  print("Found")
else :
  print("Not Found")

54
Found

**27- clear python list using different ways

In [ ]:
numbers = [ 52 , 87 , 54, 57, 90, 358 , 40 ,75]
numbers = []
print(numbers)

[]

In [ ]:
numbers = [ 52 , 87 , 54, 57, 90, 358 , 40 ,75]
numbers.clear()
print(numbers)

[]

In [ ]:
numbers = [ 52 , 87 , 54, 57, 90, 358 , 40 ,75]
while numbers:
  numbers.pop()
print(numbers)

[]

**28-remove duplicated elements from a list

In [ ]:
numbers = [ 52 , 47 , 52, 57, 90, 358 , 90 ,75]
numbers = list(set(numbers))
print(numbers)

[358, 75, 47, 52, 57, 90]

In [ ]:
def RemoveDuplicatedElements(x):
  numbers = []
  for i in x :
    if i not in numbers:
      numbers.append(i)
  print(numbers)
numbers = [ 52 , 47 , 52, 57, 90, 358 , 90 ,75]
RemoveDuplicatedElements(numbers)

[52, 47, 57, 90, 358, 75]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [10]:
def convert_to_key_value_pairs(test_list, key_list):
    result = []

    for i in range(0, len(test_list), 2):
        dictionary = {key_list[0]: test_list[i], key_list[1]: test_list[i + 1]}
        result.append(dictionary)

    return result

test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
output = convert_to_key_value_pairs(test_list, key_list)
print(output)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [11]:
my_list = [1, 2, 3, 4, 2, 3, 5, 6, 7, 8, 1]

unique_count = len(set(my_list))

print("Number of unique values:", unique_count)

Number of unique values: 8

In [12]:
my_list = [1, 2, 3, 4, 2, 3, 5, 6, 7, 8, 1]

unique_values = set()

for item in my_list:
    unique_values.add(item)

unique_count = len(unique_values)

print("Number of unique values:", unique_count)

Number of unique values: 8

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [15]:
def extract_elements_with_frequency(Num_list, K):
    frequency = {}
    for element in Num_list:
        if element in frequency:
            frequency[element] += 1
        else:
            frequency[element] = 1

    result = [element for element, count in frequency.items() if count > K]

    return result

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
output = extract_elements_with_frequency(test_list, K)
print("Elements with frequency greater than", K, ":", output)

Elements with frequency greater than 3 : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [18]:
def find_strongest_neighbour(Num_list):
    return [max(Num_list[i], Num_list[i + 1]) for i in range(len(Num_list) - 1)]

list_ = [1, 2, 2, 3, 4, 5]
output = find_strongest_neighbour(list_)
print("Strongest Neighbours:", output)

Strongest Neighbours: [2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [22]:
def print_all_combinations(digits):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if i != j and j != k and i != k:
                    print(digits[i], digits[j], digits[k], end=" ## ")
    print()

digits = [1, 2, 3]
print_all_combinations(digits)

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [1]:
def find_all_combinations(test_list):
    def backtrack(start, path, result):
        if path:
            result.append(path[:])

        for i in range(start, len(test_list)):
            path.append(test_list[i])
            backtrack(i + 1, path, result)
            path.pop()

    result = []
    backtrack(0, [], result)
    return result

test_list = [1, 2, 3]
output = find_all_combinations(test_list)
print("All combinations:", output)

All combinations: [[1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [2]:
def get_unique_combinations(list_1, list_2):
    if len(list_1) != len(list_2):
        raise ValueError("Both lists must have the same length")

    def generate_permutations(lst, path=None, result=None):
        if path is None:
            path = []
        if result is None:
            result = []
        if not lst:
            result.append(path[:])
            return
        for i in range(len(lst)):
            new_lst = lst[:i] + lst[i+1:]
            generate_permutations(new_lst, path + [lst[i]], result)
        return result

    permuted_list_2 = generate_permutations(list_2)
    unique_combinations = []
    for perm in permuted_list_2:
        combination = list(zip(list_1, perm))
        unique_combinations.append(combination)
    return unique_combinations

list_1 = ["a", "b"]
list_2 = [1, 2]
output = get_unique_combinations(list_1, list_2)
print("Unique combinations:", output)

Unique combinations: [[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [25]:
lst = [1, 1, 2, 3, 4, 5, 1, 2, 1]
i = 0
while i < len(lst):
  if lst[i] == 1:
    lst.pop(i)
  else:
    i += 1

print(lst)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [26]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = [list1[i] for i in list2]
print("The lists after index elements replacements is :", result)

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [31]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
result = [i for i in test_list if i.count(K) == N]
print(result)
result = [i for i in test_list if i.count(N) == K]
print(result)

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [32]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted_col0 = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0:", sorted_col0)


sorted_col1 = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1:", sorted_col1)


sorted_col2 = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2:", sorted_col2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [36]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_by_key = dict(sorted(my_dict.items(), key=lambda item: item[0]))
print(f"Dictionary sorted by key: {sorted_by_key}")

Dictionary sorted by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [49]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
result = {key: val for key, val in test_dict.items() if not (isinstance(val, (int, float)) and val >= K)}
print(result)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [52]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

merged_dict = {**dic1, **dic2, **dic3}
print(f"Merged Dictionary: {merged_dict}")

Merged Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [58]:
Mydict = {'Samsung': 1, 'Apple': 2, 'Huawei': 3}

for key, value in Mydict.items():
    print(f"Key: {key}, Value: {value}")

Key: Samsung, Value: 1
Key: Apple, Value: 2
Key: Huawei, Value: 3

**44- Write a Python script to merge two Python dictionaries

In [60]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}

print(f"Merged Dictionary: {merged_dict}")

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [61]:
my_dict = {'a': 10, 'b': 20, 'c': 4, 'd': 50, 'e': 15}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print(f"Maximum Value: {max_value}")
print(f"Minimum Value: {min_value}")

Maximum Value: 50
Minimum Value: 4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [63]:
OriginalDictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None}

NewDictionary = {key: value for key, value in OriginalDictionary.items() if value is not None}
print(f"New Dictionary after dropping empty items: {NewDictionary}")

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [65]:
my_tuple = (10, 20, 30, 40, 50, 75, 90)

print(f"The first item in the tuple is: {my_tuple[-2]}")

The first item in the tuple is: 75

**48-Write a Python program to unpack a tuple into several variables

In [69]:
MyTuple = (57, 75, 80)

a, b, c = MyTuple

print("1-", a)
print("2-", b)
print("3-", c)

1- 57
2- 75
3- 80

**49-Write a Python program to add an item to a tuple

In [71]:
New_Item = 87
NewTuple = MyTuple + (New_Item,)
print("New Tuple:", NewTuple)

New Tuple: (57, 75, 80, 87)

**50-Write a Python program to convert a tuple to a string

In [72]:
MyTuple = ('H', 'e', 'l', 'l', 'o')
MyString = ''.join(MyTuple)
print("Converted String:", MyString)

Converted String: Hello

**51-Write a Python program to convert a list to a tuple

In [74]:
MyList = [57, 75, 80, 87]
MyTuple = tuple(MyList)
print("Converted Tuple:", MyTuple )

Converted Tuple: (57, 75, 80, 87)

**52-Write a Python program to reverse a tuple

In [75]:
MyTuple = (57, 75, 80, 87)
ReversedTuple = MyTuple[::-1]
print("Reversed Tuple:", ReversedTuple)

Reversed Tuple: (87, 80, 75, 57)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [76]:
SampleList = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

UpdatedList = [tup[:-1] + (100,) for tup in SampleList]

print("Updated List:", UpdatedList )

Updated List: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [77]:
OriginalString = "python 3.0"

ResultTuple = tuple(OriginalString)

print("Convert the said string to a tuple:", ResultTuple)

Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [81]:
TupleOfTuples = ((10, 20, 40), (40, 50, 60), (70, 80, 90))
AllNumbers = [num for tup in TupleOfTuples for num in tup]
Average = sum(AllNumbers) / len(AllNumbers)
print(f"Average value of the numbers: {Average:.2f}")

Average value of the numbers: 51.11

**56-Write a Python program to add member(s) to a set.

In [83]:
MySet = {1, 2, 3, 4, 5}

MySet.add(6)
print("Updated Set:", MySet)

MySet.update([7, 8, 9])
print("Updated Set:", MySet)

Updated Set: {1, 2, 3, 4, 5, 6}
Updated Set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [85]:
ItemToRemove = 6
if ItemToRemove in MySet:
    MySet.remove(ItemToRemove)
    print(f"Item {ItemToRemove} removed successfully.")
else:
    print(f"Item {ItemToRemove} is not present in the set.")

print("Updated Set:", MySet)

Item 6 removed successfully.
Updated Set: {1, 2, 3, 4, 5, 7, 8, 9}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [86]:

Set1 = {1, 2, 3, 4, 5}
Set2 = {4, 5, 6, 7, 8}

Intersection = Set1 & Set2

Uniion = Set1 | Set2

Difference = Set1 - Set2

SymmetricDifference = Set1 ^ Set2

print("Intersection:", Intersection)
print("Union:", Uniion)
print("Difference (Set1 - Set2):", Difference)
print("Symmetric Difference:", SymmetricDifference)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference (Set1 - Set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [87]:
numbers = {52 , 87 , 54, 57, 90, 358 , 40 ,75}
print(f"The Maximum number of list: {max(numbers)}")
print(f"The Maximum number of list: {min(numbers)}")

The Maximum number of list: 358
The Maximum number of list: 40

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [2]:
MyList = [10, 15, 3, 7, 8, 2, 6, 4, 1, 9, 12, 14, 5, 11, 20, 18, 17, 13, 16, 19]
TargetSum = 15
pairs = []
for i in range(len(MyList)):
    for j in range(i+1, len(MyList)):
        if MyList[i] + MyList[j] == TargetSum:
            pairs.append((MyList[i], MyList[j]))
print("Pairs with sum equal to", TargetSum, ":", pairs)

Pairs with sum equal to 15 : [(10, 5), (3, 12), (7, 8), (2, 13), (6, 9), (4, 11), (1, 14)]